# Logs
**.log*
npm-debug.log*

.grunt
node_modules
.npm
.node_repl_history
.sass-cache
.DS_Store
.start.pid
.port.tmp
.tmuxp.*
~$*.xls
*.pyc

# Static managed assets
app/views/govuk_template.html
app/govuk_modules

# Locales
app/locales/en.json

# e2e selenium
errorShots

# coverage reports
coverage

# Ignore IntelliJ files
.idea/

# Ignore local scripts
run-docker.sh
run-integration-tests.sh
run-node.sh
run-schedule-payment-run.sh
run-standard-linter.sh
run-test-coverage.sh
run-unit-tests.sh

# Files CSV output
data/payments
uploads
archive

# Public directory
app/public

# Visual Studio Code files
.vscode/
